<div class="table-container pre-scrollable">
<table id="sheet-table-{{ tableid }}" class="table table-striped">
    <thead>
        <tr>
            <td></td>
            <td></td>
            <td colspan="6">1月</td>
            <td colspan="6">2月</td>
            <td colspan="6">3月</td>
            <td colspan="6">4月</td>
            <td colspan="6">5月</td>
            <td colspan="6">6月</td>
            <td colspan="6">7月</td>
            <td colspan="6">8月</td>
            <td colspan="6">9月</td>
            <td colspan="6">10月</td>
            <td colspan="6">11月</td>
            <td colspan="6">12月</td>
            <td colspan="6">1月 -- 12月</td>
        </tr>
        <tr>
            <td>业务模式</td>
            <td>业务项目</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
            <td>运量</td><td>收入</td><td>成本</td><td>毛利</td><td>毛利率</td><td>利润总额</td>
        </tr>
    </thead>
    <tbody>
    {{ data | safe }}
    </tbody>
</table>
</div>
