<div class="table-container pre-scrollable">
<table id="sheet-table-{{ tableid }}" class="table table-striped">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th colspan="6">1月</th>
            <th colspan="6">2月</th>
            <th colspan="6">3月</th>
            <th colspan="6">4月</th>
            <th colspan="6">5月</th>
            <th colspan="6">6月</th>
            <th colspan="6">7月</th>
            <th colspan="6">8月</th>
            <th colspan="6">9月</th>
            <th colspan="6">10月</th>
            <th colspan="6">11月</th>
            <th colspan="6">12月</th>
            <th colspan="6">1月 -- 12月</th>
        </tr>
        <tr>
            <th>业务模式</th>
            <th>业务项目</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
            <th>运量</th><th>收入</th><th>成本</th><th>毛利</th><th>毛利率</th><th>利润总额</th>
        </tr>
    </thead>
    <tbody>
    {{ data | safe }}
    </tbody>
</table>
</div>
